+++
title = "Champernowne Verification"
path = "champernowne-verification"
in_search_index = true
date = 2024-03-07
[taxonomies]
tags = ["icpc", "regionals-2023"]
+++

